body            { font-family: sans-serif; background: #DEEEFF; padding: 0; margin: 0;}
a, h1, h2       { color: #377BA8; text-decoration:none;}
h1, h2          { font-family: "Verdana", Geneva, sans-serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
table	{ padding: 0; border-spacing: 0px;}
td		{ padding: 0;}

/*Default styles*/
.container { margin: auto; width: page; background: white; }
.header {margin: auto; background: white; padding: 0; margin: 0;}
.page           { margin: auto; padding: 0.8em; background: white; }
.headerlg { display: none; }
.headermd { display: none; }
.headersm { display: inline;}

/*small tablet*/
@media screen and (min-width: 28.75em) {
	.container { margin: auto; width: page; background: white; }
	.page	{ margin: auto; padding: 0.8em; background: white; }
	.headerlg { display: none; }
	.headermd { display: inline; }
	.headersm { display: none; }
}

/*medium tablet*/
@media screen and (min-width: 55em) {
	.container { margin: auto; width: 55em; background: white; }
	.page         { margin: auto; padding: 0.8em; background: white; }
	.headerlg { display: inline; }
	.headermd { display: none; }
	.headersm { display: none; }
}

.navcontainer ul{list-style-type: none; margin:0; padding:0;}
.navcontainer ul li {display:inline;}

.dropmenu	{ color: #377BA8; padding: 0.2em; text-align: center;}
.dropbutton	{ background-color: #377BA8; color: white; border: 2px solid white; border-style:none none solid none; padding: 0.4em; text-align: left;}
a:hover .dropbutton { background-color: #60a1cb;}
.horizbutton { color: white; border: 2px solid white; border-style:none none solid none; padding: 0.4em; display:inline;}
.horizbutton ul {list-style-type: none; margin:0; padding:0; text-align:center;}
.horizbutton ul li {display: inline;}
.horizbutton ul li a{ color: white; padding: 1.2em 1em 0.5em 1em; margin: 0 0em 0 1em; background-color: #377BA8;}
.horizbutton ul li a:hover{ background-color: #60a1cb;}
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }

.registration_table {background-color:#DEEEFF; border:1px solid #377BA8;}
.registration_table td { padding:5px; }
.registration_table input[type=text] input[type=password] { width:300px; }
