
<!-- extends from base layout -->
{% extends "layout.html" %}
{% block content %}
<h2>Change Password: {{ session['username'] }}</h2>
<hr>
<p style="color:red">{{ message }}</p>
        <form action="/change_password" method="POST">
        <table class="registration_table">
        <tr>
                <td>Old Password:</td>
                <td><input type="password" name="old_password"></td>
        </tr>
	<tr>
		<td>New Password:</td>
                <td><input type="password" name="new_password"></td>
	</tr>
	<tr>
		<td>Confirm New Password:</td>
		<td><input type="password" name="new_pass_confirm"></td>
	</tr>
	</table>
	<input type="Submit" value="Submit"></form><a href="/edit_profile"><button>Back</button></a>
{% endblock %}
