
<!-- extend from base layout -->
{% extends "layout.html" %}
{% block content %}
<h2>Edit Profile</h2>
<hr>
        <p style="color:red">{{ message }}</p>
        <p>Email Address: </p>

<h4>Edit Personal Information</h4>
	<form action="/edit_profile" method="post">
        <table class="registration_table">
        <tr>
                <td>Missionary's Given Name:</td>
                <td><input type="text" name="given_name" value="{{ given_name }}"></td>
        </tr>
        <tr>
                <td>Missionary's Last Name:</td>
                <td><input type="text" name="last_name" value="{{ last_name }}"></td>
        </tr>
        <tr>
                <td>Mission Assignment:</td>
                <td><input type="text" name="mission_name" value="{{ mission_name }}"></td>
        </tr>
        <tr>
                <td>Backup Email Address:</td>
                <td><input type="text" name="secondary_email"></td>
        </td>
        <tr>
                <td>Password:</td>
                <td><input type="password" name="password"></td>
        </tr>
        <tr>
                <td>Confirm Password:</td>
                <td><input type="password" name="password_confirm"></td>
        </tr>
        </table>
        <input type="submit" value="Update">
	</form>
<br>
<h4>Change Password</h4>
	<form action="/change_password" method="POST">
	<table class="registration_table">
	<tr>
		<td>Old Password:</td>
		<td><input type="password" name="old_password"></td>
	</tr>
	<tr>
		<td>New Password:</td>
		<td><input type="password" name="new_password"></td>
	</tr>
	<tr>
		<td>Confirm New Password:</td>
		<td><input type="password" name="new_pass_confirm"></td>
	</tr>
	</table>
	<input type="submit" value="Save Password">
	</form>
{% endblock %}

