<!-- extend from base layout -->
{% extends "layout.html" %}
{% block content %}
<h2 style="text-align:center; font-size:7.0vmin;">Transform your mission emails into a convenient journal!</h3>
<p style="text-align:center;"><i>Keeping track of your mission experiences has never been so easy!</i></p>
<p style="color:red">{{ message }}</p>

<table width="100%"><tr>
<td>
<form action="/login" method="POST">
<table class="registration_table">
<tr><th style="font-size:120%">Already a user?</th></tr>
<tr>
	<td><input type="text" name="email" placeholder="Missionary Email Address"></td>
</tr>
<tr>
	<td><input type="password" name="password" placeholder="Password"></td>
</tr>
<tr><td><input type="submit" value="Login" style="width:100%; background-color:#377BA8; color:white; text-align:center; valign:center; border:0 solid black"></td></tr>
</form>
</table>

<table class="registration_table"><tr>
<th style="font-size:120%">First time here?</th></tr>
<tr><td><a href="/register" style="text-decoration:none;"><div style="width:100%; background-color:#377BA8; color:white; text-align:center; valign:center; border:0 solid black;">Join now!</div></a></td></tr>
</table>
</td>
<td>
<img src="../static/landing_image.png" alt="landing image">
</td>
</tr>
</table>

<h4>How it works:</h4>
<ol>
	<li><a href="/register">Register</a> your mission email with us so we know which letters are yours</li>
	<li>Include the email address we give you at registration in the emails you send home and have those who send you stuff back do the same</li>
	<li>Share your wonderful missionary experience with your friends and family</li>
	<li>Come see us in a couple years to print a journal that documents your mission through your letters to and from home!</li>
<br>

<script type="text/javascript" src="http://placeholder-fixer.googlecode.com/svn/trunk/placeholder_fixer.js"></script>

{% endblock %}
