<!doctype html>
<link rel=stylesheet type=text/css href='../static/style.css'>
<link rel="stylesheet" href="../static/responsive-nav.css">
<script src="../static/responsive-nav.js"></script>
<head>
	<title>Flaskr</title>
</head>
<body>

<div class=page>
	<div class=headerlg><img src="../static/logo_lg.png" alt="logo">
		<a href="#">Home</a>
		<a href="#">About</a>
		<a href="#">Projects</a>
		<a href="#">Contact</a>
	</div>
	<div class=headermd><img src="../static/logo_md.png" alt="logo">
	<br>
		<a href="#">Home</a>
		<a href="#">About</a>
		<a href="#">Projects</a>
		<a href="#">Contact</a>
	</div>
	<div class=headersm><img src="../static/logo_sm.png" alt="logo">
		<nav class="nav-collapse">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Projects</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		</nav>
	</div>
	<p>
	{% block content %}{% endblock %}
</div>
<script>
  var nav = responsiveNav(".nav-collapse");
</script>
</body>
