<!doctype html>
<link rel=stylesheet type=text/css href='../static/style.css'>
<link rel="stylesheet" href="../static/responsive-nav.css">
<script src="../static/responsive-nav.js"></script>
<head>
	<title>Flaskr</title>
</head>
<body>
<div class=container>
<div class=header>
	<div class=headerlg>
		<table style="width:100%">
		<tr><td style="background: #377BA8; padding: 0px; border:4px solid #377BA8;" colspan="3"></td></tr>
		<tr><td style="text-align:center;" colspan="2">
			<div class=horizbutton>
			<ul>
			<li><a href="#">Home</a>
			<li><a href="http://www.github.com/tduck/mission-email-journal/wiki" target="_blank">About</a>
			<li><a href="#">Projects</a>
			<li><a href="#">Contacts</a></td>
			</ul>
			</div>
		</tr>
		<tr>
			<td><img src="../static/logo_lg.png" alt="logo"></td>
			<td style="text-align:center;font-size:300%;">My Mission Journal</td>
		</tr>
		</table>
	</div>
	<div class=headermd>
		<table style="width:100%">
		<tr><td style="background: #377BA8; padding: 0px; border:4px solid #377BA8;" colspan="2"></td></tr>
		<tr><td style="text-align:center;" colspan="2">
			<div class=horizbutton>
			<ul>
			<li><a href="#">Home</a>
			<li><a href="http://www.github.com/tduck/mission-email-journal/wiki">About</a>
			<li><a href="#">Projects</a>
			<li><a href="#">Contacts</a></td>
			</ul>
			</div>
		</tr>
		<tr>
			<td><img src="../static/logo_md.png" alt="logo"></td>
			<td style="text-align:center;font-size:220%">My Mission Journal</td>
		</tr>
		</table>
	</div>
	<div class=headersm>
	<table style="width:100%">
	<tr><td style="text-align:right" colspan="3">
	<nav class="nav-collapse">
		<ul>
			<li><a href="#"><div class=dropbutton>Home</div></a></li>
			<li><a href="#"><div class=dropbutton>About</div></a></li>
			<li><a href="#"><div class=dropbutton>Projects</div></a></li>
			<li><a href="#"><div class=dropbutton>Contact</div></a></li>
		</ul>
	</nav></td></tr>
	<tr><td style="background: #377BA8; padding: 0px; border:4px solid #377BA8;" colspan="3"></td></tr>
	<tr><td><img src="../static/logo_sm.png" alt="logo"></td>
	<td style="text-align:center;font-size:150%">My Mission Journal</td>
	<td style="vertical-align:top; font-size:160%"><div class=dropmenu onclick="nav.toggle()">&#9776;</div></td>
	</tr></table>

	</div>
</div>
<div class=page>
	<p>
	{% block content %}{% endblock %}
</div>
</div>
<script>
  var nav = responsiveNav(".nav-collapse", {label: "", insert: "after"});
</script>
</body>
