<!doctype html>
<link rel=stylesheet type=text/css href='../static/style.css'>
<link rel="stylesheet" href="../static/responsive-nav.css">
<script src="../static/responsive-nav.js"></script>
<head>
	<title>Flaskr</title>
</head>
<body>

<div class=page>
	<div class=headerlg>
	<table style="width:100%"><tr>
	<td><img src="../static/logo_lg.png" alt="logo"></td>
	<td style="text-align:center">My Mission Journal</td>
	<td style="text-align:right">
		<a href="/">Home</a>
		<a href="http://www.github.com/tduck/mission-email-journal/wiki" target="_blank">About</a>
		<a href="#">Projects</a>
		<a href="#">Contact</a>
	</td></tr></table>
	</div>
	<div class=headermd>
	<table style="width:100%">
	<tr><td style="text-align:center" colspan="2">
		<a href="#">Home</a>
		<a href="#">About</a>
		<a href="#">Projects</a>
		<a href="#">Contact</a></td></tr>
	<tr><td><img src="../static/logo_md.png" alt="logo"></td>
	<td style="text-align:center">My Mission Journal</td></tr></table>
	</div>
	<div class=headersm>
	<table style="width:100%">
	<tr><td style="text-align:right" colspan="2">
	<nav class="nav-collapse">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Projects</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav></td></tr>
	<tr><td><img src="../static/logo_sm.png" alt="logo"></td>
	<td style="text-align:center">My Mission Journal</td></tr></table>

	</div>
	<p>
	{% block content %}{% endblock %}
</div>
<script>
  var nav = responsiveNav(".nav-collapse");
</script>
</body>
