<!doctype html>
<head>
<title>My Mission Journal - User Registration</title>
</head>

<body>
<h3>Register</h3>
	<form method="post">
	<input type="radio" name="missionary_title" value="Elder">Elder</input>
	<input type="radio" name="missionary_title" value="Sister">Sister</input>
	<p>Missionary's Given Name:
		<input type="text" name="given_name">
	</p>
	<p>Mission Name (optional):
		<input type="text" name="last_name">
	</p>
	<p>Missionary Email:
		<input type="text" name="username">
	</p>
		
	<p>Backup Email Address:
		<input type="text" name="secondary_email">
	</p>
	<p>Password (8-20 characters):
		<input type="password" name="password">
	</p>
	<p>Confirm Password:
		<input type="password" name="password_confirm">
	</p>
	<input type="submit" value="Register">
	</form>
</body>
